
/* General CSS */

html, body {
    height: 100%;
}

body {
    font-family: "Roboto Condensed", sans-serif;
    font-weight: 700;
    background-color: #fff;
    /* #e0e1e2; */
    /* #f8f9fa; */
}



/* ============================================
              NAVBAR
================================================= */

li {
    list-style-type: none;
}

#header-logo {
    max-width: 200px;
}

.navbar {
    background-color: #fff;;
}

.gradient {
    height: 50px;
    width: 100%;
    background-image: linear-gradient(to top, green , white);
}


/* ============================================
              TOP-DIV
================================================= */
.top-div {

    border: 10px solid green;
    height: 300px;
    width: 600px;
    margin: 200px auto 0 auto;
    background-color: #fff;
}

#div-logo {
    margin-top: 50px;
    max-width: 300px;
}

.nav-link {
    color: green;
}

/* ============================================
                HOME
================================================= */

#resultsdiv {
    margin-top: 50px;
    max-height: 600px;
    overflow: auto;
}

.card {
    margin: 50px;
    max-width: 400px;
}

#map-area {
    border: 2px solid black;
    margin-top: 50px;
   
}

#placeholder-map {
    max-width: 300px;
}


#grassy-footer {
    max-height: 200px;
    width: auto;
}