
/* General CSS */

html, body {
    height: 100%;
}

body {
    font-family: "Roboto Condensed", sans-serif;
    font-weight: 700;
    background-color: #fff;
    /* #e0e1e2; */
    /* #f8f9fa; */
}



/* ============================================
              NAVBAR
================================================= */

li {
    list-style-type: none;
}

#header-logo {
    max-width: 200px;
}

.navbar {
    background-color: #fff;;
}

.gradient {
    height: 50px;
    width: 100%;
    background-image: linear-gradient(to top, green , white);
}


/* ============================================
              splash 
================================================= */
.top-div {

    border: 10px solid green;
    height: 300px;
    width: 600px;
    margin: 200px auto 0 auto;
    background-color: #fff;
    z-index:10;
    position: relative;
}

#div-logo {
    margin-top: 50px;
    max-width: 300px;
}

.nav-link {
    color: green;
}

#video {
    z-index: 1;
    position: absolute;
    top: 0;
    size: 100%;
}

/* ============================================
                HOME
================================================= */

#results {
    margin-top: 50px;
    max-height: 600px;
    overflow: auto;
    border: 2px solid #e8e7e7;
}

.card {
    margin: 50px;
    max-width: 400px;
}

#map {
    height: 100%;
    /* border: 2px solid black; */
    margin-top: 50px;
    border: 2px solid #e8e7e7;
}

/* #grassy-footer {
    max-height: 200px;
    width: auto;
    z-index: 10;
} */

.page-footer {
    height: 100px;
    background-image: url("../images/grassy_footer.png");
    width: 100%;
    z-index: 100;
    background-size: 100% 100%;
}